
/* body {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: var(--background-color);
    color: var(--text-primary-color);
    line-height: 1.5;
} */

img {
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    font-family: inherit;
}

/* Base Layout */
.wrapper {
    max-width: var(--maxWidth);
    margin: 0 auto;
    padding: 0 var(--spacing-md);
} 

.horizontal-line {
  width: 90%;
  height: 1px;
  background-color: #6e6e6eb2;
}

@media (max-width: 1024px) {
  
  /* didn't add height here since i added it to the desktop */
  .horizontal-line {
    width: 97%;
  }
}

@media (max-width: 480px) {
  /* added horizotal line mobile styling */
  .horizontal-line {
    width: 90%;
  }
}