.hero {
    padding: var(--spacing-sm) var(--spacing-lg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 100vw;
}

.hero__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .hero {
        padding: var(--spacing-sm);
    }
}

@media (max-width: 480px) {
    .hero {
        padding: var(--spacing-xs);
    }
} 